<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        footer {
            padding-top: 40px;
            align-content: right;
        }
    </style>
</head>
<div class="panel-footer">Happy Coding Everyone</div>
</footer>